* {
    margin: 0;
    padding: 0;
  }

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: purple;
}

.titleContainer {
    height:75px;
    background-color: blue;
    padding:10px;
    text-align: center;
}

#btnNewGrid {
    margin-top: 10px;;
}

.gameContainer {
    background-color: red;
    padding:10px;
}

.gridContainer {
    background-color: orange;
    padding:4px;
    display:flex;
    flex-direction: column;
}

.row {
    display:flex;
}

.gridSquare {
    padding:10px;
    border: 1px solid red;
}

